
#options button{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:  all 0.3s;
}


#start-button{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:  20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#refresh{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:  20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#next-button{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:  20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#result{
    text-align: center;
    padding-top: 10px;
}

#new-game{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:  20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}






.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

/*first page style*/



.signup-form {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 40px;
    cursor: pointer;

    padding: 20px;
    margin-left: 19%;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.signup-form > h2 {
    color: #000000;
    margin-bottom: 20px;
    margin-left: 10px;
}

.text-input {
    width: 90%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}
